@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Hide scrollbar but keep scroll */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

html {
  scrollbar-width: none; /* Firefox */
}
