.scroll-reveal {
  margin: 20px 0;
}

.scroll-reveal-text {
  font-size: 1.25rem; /* base size */
  line-height: 1.6;
  font-weight: 500;
}


.word {
  display: inline-block;
  will-change: opacity, filter, transform;
}

.lore-title .word:last-child {
  color: #b11212;
}

